.outer-div {
    margin: 0;
    padding: 0;
}

.app-header {
    display: inline-grid;
    grid-template-columns: 10vw 90vw;
    grid-template-rows: 8vh 9vh;
    padding-left: 1vw;
    padding-top: 3vw;
    background-image: url("header-image.png");
    background-size: cover;                        
}

.app-header-item-1 {
    display: grid;
    grid-column: 1; 
    grid-row: 2;
}

.main-grid {
    display: inline-grid;
    grid-template-columns: 27vw 70vw;
    padding-left: 1vw;
    grid-gap: 1vw;
    grid-template-rows: 75vh;  
}

.main-grid-item-1 {
    display: grid;
    grid-row: 1; 
    grid-column: 1;
    margin: 0;
    border: 2px solid rgb(0, 0, 0, 0.1);
}

.main-grid-item-2 {
    display: grid;
    grid-row: 1; 
    grid-column: 2;
    border: 2px solid rgb(0, 0, 0, 0.1);
}