.outer-div {
    margin: 0;
    padding: 0;
}

.app-header {
    display: grid;
    grid-template-columns: 100vw;
    grid-template-rows: 20vh;
    background-image: url("header-image.png");
    background-size: cover;
}

.app-title {
    font: 32px;
/*  font-family: ; */
}

.main-grid {
    display: inline-grid;
    grid-template-columns: 24vw 71vw;
    padding-left: 1vw;
    grid-gap: 1vw;
    grid-template-rows: 76vh; 
    margin-top: 1vw; 
}

.main-grid-item-1 {
    display: grid;
    grid-row: 1; 
    grid-column: 1;
    margin: 0;
    grid-template-rows: 68vh 8vh;
    border: 2px solid rgb(150, 125, 125);
}

.socialmediabuttons {
    grid-row: 2;
    justify-self: center;
}

.main-grid-item-2 {
    display: grid;
    grid-row: 1; 
    grid-column: 2;
    border: 2px solid rgb(150, 125, 125);
}

.app-footer { 
    height: 5vh;
    width: 97vw;
    margin-left: 1vw;
    -webkit-transform:scale(0.5);
    -moz-transform:scale(0.5);
    -ms-transform:scale(0.5);
    transform:scale(0.5);
}