::-webkit-scrollbar {
  -webkit-appearance: none;
  width: 7px;
}

::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background-color: rgba(0, 0, 0, .5);
  box-shadow: 0 0 1px rgba(255, 255, 255, .5);
}

body {
  margin: 0;
  padding: 0;
  background-color: #ffffff;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h2 {
  padding: 1vw 3vw 2vw 3vw;
}

p {
  padding: 0vw 3vw 1vw 3vw;
}

table {
  margin: 1vw 3vw 0vw 3vw;
  border-collapse: collapse;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 1vw;
}  

.outer-div {
  display: grid;
  grid-template-columns:  27vw 72.5vw;
  grid-template-rows:     23vh 67.5vh 7vh;
  grid-gap: 0.5vw;
  margin: 0;
  padding: 0 0 0.5vh 0;
}

.header-container {
  height: 21vh;
  display: flex;                              
  grid-column: 1 / 3 ;                        
  grid-row: 1 / 2 ;                           
  background-image: url("header-image.png");
  background-size: cover;  
  z-index: 1;
}

.header-media {
  flex: 0 0 6%;
  margin: 8vw 0vw 0vw 1vw;
}

.header-mid-section {
  flex: 0 1 55%;
}

.header-title {
  height: 23vh;
  flex: 0 0 410px;
  background-image: url("header-title.png");
  background-size: cover;
  z-index: 2;
}

.header-right-section {
  flex: 0 0 20px;
}

.sidebar {
  display: grid;
  grid-column: 1 / 2 ; 
  grid-row: 2 / 3 ;
  margin-left: 0.5vw;;
  padding-top: 1.5vh;
  border: 2px solid rgb(0.1, 0, 0, 0.1);
}

.keyboard-image-outer {
    grid-column: 1 / 2 ;
    grid-row: 3 / 4 ;
    margin: 1vh 0vh 1vh 1vh;
}

.keyboard-image {
  height: 5vh;
  background-image: url("keyboard.png");
  background-size: cover;
}

.content-container {
  grid-column: 2 / 3 ;
  grid-row: 2 / 3 ;
  margin-right: 0.5vw;
  font-size: 0.9em;
  overflow-y: scroll;
}

